.rowmundo{
    color: red;
    font-size: 30px;
}
body{
    
    background-color: black;
   background-image: url(../img/istockphoto-952039286-170667a.jpg
);
   background-repeat:  no-repeat;
   background-size: cover;

}

